html {
    background: linear-gradient(45deg, rgba(175, 239, 255) 0%, rgb(160, 252, 255) 50%, rgb(161, 160, 255) 50%, rgb(160, 209, 255) 51%, rgb(230, 250, 255) 100%);
}

a {
    color: yellow;
}
  
a:visited {
    color: rgb(223, 255, 159);
}
  
a:hover {
    color: brown;
}
  
a:active {
    color: rgb(255, 90, 90);
}

header {
    background: linear-gradient(270deg, lightblue, 30%, pink);
    margin: 0;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    font-family: consolas;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f0a500;
}

body{
    margin-left: 0;
    margin-right: 0;
}

h1 a {
    font-family: consolas;
    text-decoration: none;
    transition: color 0.5s;
}

h1 a:visited {
    color: aqua;
}

h1 a:hover {
    color: rgb(0, 119, 255);
}

.intro {
    background: linear-gradient(135deg, rgba(255, 223, 175, 0.26) 0%, rgb(255, 211, 160) 50%, rgb(255, 195, 160) 50%, rgb(255, 206, 160) 51%, rgb(255, 238, 230) 100%);
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    margin-top: 0;
    padding: auto;
}

#titre1 {
    color: rgb(16, 207, 16);
    font-family: cursive;
    text-align: center;
    font-size: 64px;
    margin-left: auto;
    margin-right: auto;
    width: 820px;
    margin-bottom: 20px;
    padding: 8px;
}

#texte1{
    color: blue;
    font-family: consolas;
    width: 100%;
    margin: auto;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#logo1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    block-size: 100px;
    border-radius: 8px;
    box-shadow: 0 0 20px 0 blue;
    transition: 0.3s;
}
#logo1:hover{
    box-shadow: 0 0 20px 0 rgb(0, 0, 0);
}